In [3]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/scipy/rel2.csv')
df

         before       after
0    216.289726  175.897620
1    190.279454  189.295934
2    217.744689  219.233935
3    235.021264  195.021021
4    234.098484  213.218227
..          ...         ...
115  186.546583  239.845621
116  199.853014  300.032396
117  182.322187  201.310529
118  256.739402  195.169040
119  248.858766  292.766655

[120 rows x 2 columns]